@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Qwitcher+Grypen&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Qwitcher+Grypen&family=Slabo+27px&display=swap');
.loginimage{
    width: 121px;
    height: 71px;}
.login{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left:60px;
}
.unexpected{
    margin-top: 30px;
}
.p1{
    color: gray;
    font-size: 21px;
font-weight: 400;
}
.image1{
    width: 317px;
    height: 402px;}


.dropdown-item{
    font-weight: 600;
}
#btn1{
    background-color: orange;
    color: white;
    font-weight: bolder;
}
@media(min-width:400px) and (max-width:800px){
    .image1{
        margin-top: 23px;
    }
}

#p2{
    color: gray;
    padding: 3px;
    font-weight: 600;
}
#p3{
    color: #2b1e16;
    padding: 3px;
    font-weight: 600;

}
.h1{
    text-align: center;
    margin-top: 10px;
    color: black;
    font-family: 'Qwitcher Grypen', cursive;
font-weight: 600;
}
.card:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8) ;
    -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        transition: all 0.7s ease-out 0s;
cursor: pointer;
    }
.card-text{
    font-family: 'Slabo 27px', serif;
font-weight: 600;
}
.des{
    font-weight: 500;
}
#btn2{
    text-align: center;
}
.h2{
    font-family: 'Slabo 27px', serif;
text-align: center;
margin-top: 21px;
}
.card-body{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.footer{
    font-size: 20px;
    font-weight: 600;
    margin-top: 34px;
    margin-left: 25px;}

    .playstore{
        width: 183px;
        height: 54px;  
    border-radius: 20px;
margin-top: 10px;  }
.description{
    font-size: 20px;
    font-weight: 600;
    margin-left: 52px;
}
.accordion{
    margin-left: 10px;
}
.accordion-body{
    font-weight: 600;
    color: gray;
}
.accordion2{
    margin-left: 50px;
    color: gray;
}
#f1{
    text-decoration: none;
color: black;
}
#icons{
    margin-left:82px;
    font-size: 30px;
    border-radius: 20px;
}
#icon2{
    font-size: 30px;
    border-radius: 20px;
    margin-left: 15px;
 
}